*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;              /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(194, 194, 194);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(194, 194, 194);  /* creates padding around scroll thumb */
}
.debug{
  border: 1px solid red;
  background-color: rgba(0, 255, 255, 0.171);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: rgb(255,255,255); */
  background: linear-gradient( to bottom, rgb(0, 138, 125) 20%, rgba(255,255,255) 0%);
  
}
.container{
  
  display: flex;
  height: 85vh;
  width: 80vw;

  
  
}
.left-col{
  background-color: rgb(251, 251, 250);
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  
}
.right-col{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}


/* SINISTRA */
/* user */
.user-container{
  border-right: .1px solid grey;
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  justify-content: space-between;  
  background-color: rgb(234, 234, 234);
}
.user-details{
  display: flex;
  align-items: center;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.user-details img{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}
.user-option{
  padding: 10px;
  display: flex;
  gap: 20px;
}
.user-option i,
.message-bar i{
  color: rgb(176, 177, 177);
}
/*  notifiche */
.notify-container{
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  background-color: rgb(142, 218, 252);
}
.notify-status{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.notify-status i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(142, 218, 252);
}
.notify-text h5{
  font-size: 20px;
}
.notify-text span{
  text-decoration: underline;
  color: rgb(103, 106, 108);
  font-size: 20px;
}
/* barra di ricerca */
.search-container{
  text-align: center;
  padding: 5px;
  background-color: white;
  margin: 5px;  
}
.search-container input{
  width: 80%;
  border: none;
  margin-right: 8px;
  font-size: 20px;
}
.search-container i{
  font-size: 20px;
  color: rgb(103, 106, 108);
}
/* chat recenti */

.chat-container{
  overflow-y: scroll;
}
.chat{
  padding: 3px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
}
.chat-container img{
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}
.chat-text span{
  display: block;
}
.chat-text{
  padding-left: 10px;
  
}
.chat-name{
  font-size: 20px;
}
.last-message{
  font-size: 13px;
  color: rgb(103, 106, 108);
}
.last-message-date{
  font-size: 13px;
  text-align: end;
  flex-grow: 1;
  align-self: flex-start;
  padding: 5px;
  
}
.active{
  background-color: aliceblue;
}
/* RIGHT SIDE */
/* utente attivo */
.right-col .user-container .user-details span{
  display: block;
  font-size:1.5rem;
}

/* campo dei messaggi */
.chatbox{
  height: calc(100% - 20%);
  background-image: url(img/mine.jpg);
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

.message{  
  margin: 10px 0;
  width: max-content;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.message.sent{
  background-color: rgb(213, 250, 186);
  align-self: flex-end;
}
.message.received{
  background-color: rgb(255, 254, 255);
  align-self: flex-start;
}
.message span{
  align-self: flex-end;
  font-size: 10px;
}
.message p{
  font-size: 20px;
  margin-right: 20px;
}

.dropdown-container{
  position: absolute;
  top: 12px;
  right: 10px;
  font-size: 15px;
  color: rgb(103, 106, 108);
  display: none;
}

.message:hover .dropdown-container{
  display: block;
}
.drop-down-box{
  padding: 10px 0;
  position: absolute;
  top: 15px;
  right: -20px;
  width: max-content;
  height: max-content;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}
.drop-down-box small{
  cursor: pointer;
}
.fa-chevron-down{
  font-size: 10px;
}
.drop-down-box small{
  display: block;
  text-align: center;
  line-height: 25px;
}
.drop-down-box small:hover{
  background-color: rgb(216, 215, 215);
} 



/* sezione messaggi */
.message-bar{
  height: 10%;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: rgb(234, 234, 234);
}
.message-bar input{
  flex-grow: 1;
  margin: 0 10px;
  border:1.5px solid rgb(1, 122, 255);
  border-radius: 5px;
  height: 50%;
}
 i{
  font-size: 35px;
}
